@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
    margin: 0;
}

:root {
    --background-color-1: #170312;
    --background-color-2: #377aa9;
    --background-color-3: #28597b;
    --background-color-4: #66C3FF;
    --background-color-5: #3d3879;

    --dark-border-color-1: #66C3FF;

    --text-color-1: #fff;

    --title-font-1: "Poppins", serif;
    --text-font-1: "Quicksand", serif;

    --shadow-color-1: #ddd;
}

.landingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.footerWrapper{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}


/*
    Section 1 | "Title" 
*/
.landingSection1 {
    display: flex;
    height: 600px;
    background: linear-gradient(30deg, var(--background-color-4), var(--background-color-5));
}
.landingSection1Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
}
.landingSection1Left > h1 {
    color: white;
    font-size: 50px;
    font-family: var(--title-font-1);

    animation: slide-right 500ms forwards;
    margin: 0;
}
@keyframes slide-right {

    from {transform: translateX(-200%);}
    to {transform: translateX(0);}
}
.landingSection1Left > h2 {
    margin: 0;
    color: rgba(255,255,255, 0.8);
    font-family: var(--title-font-1);
    animation: slide-down 750ms forwards;
    animation-delay: 450ms;
    opacity: 0;
}
@keyframes slide-down {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.landingSection1Left > button {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border-radius: 8px;

    border: 1px solid;
    border-color: rgba(0,0,0,0.1);
    color: white;
    font-weight: 600;

    background-color: var(--background-color-4);

    font-family: var(--title-font-1);
    animation: slide-down 750ms forwards;
    animation-delay: 750ms;
    opacity: 0;
}

.landingSection1Right {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
      
    padding-right: 300px;
}
.graphSquircle {
    width: 600px;
    height: 400px;

    text-align: right;
    border: 2px solid;
    border-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    color: white;
    font-weight: 600;

    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(30px);
    animation: slide-left 500ms forwards;
    margin: 0;
}
@keyframes slide-left {

    from {transform: translateX(20%);}
    to {transform: translateX(0);}
}

/*
    Section 2 | "Title" 
*/