.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;

    /* !!! Potentially change later for theme !!! */
    background-color: rgba(0,0,0, 0.85);

    border-bottom: 2px solid rgb(100, 100, 100);
    
    backdrop-filter: blur(3px);
    z-index: 1;
}

/* Aligning nav content: left & right & center*/
.navLeft {
    padding-left: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navTitleWrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.navRight {
    flex-grow: 1;

    padding-right: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

/* Left side of Nav*/
.navLogo {
    width: 50px;
    margin-right: 5px;
}
.navTitle {
    font-size:32px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* All Buttons */
.navRight > button {
    font-size: 20px;

    height: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    border: none;
}

/* About & Guide Button */
.navUnderlineButton {
    margin-inline: 10px;

    background-size: 0px 3px;
    background-image: linear-gradient(var(--dark-border-color-1), var(--dark-border-color-1));
    background-position-y: 36px;
    transition: background-size 250ms;
}
.navUnderlineButton:hover {
    background-size: 100% 3px;
}

/* Login Button */
.navLoginButton {
    position: relative;
    padding-inline: 26px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--background-color-4), var(--background-color-4)) 0% 0% / 0% 0% no-repeat;
    transition: background-size 150ms linear;
    z-index: 2;
}

.navLoginButton:hover {
    background-size: 100% 100%;
}

.navLoginButton::before,
.navLoginButton::after {
    content: "";
    position: absolute;
    border-radius: 8px;
}

.navLoginButton::before {
    rotate: 180deg;
    z-index: -2;
    background: linear-gradient(90deg, var(--background-color-4), var(--background-color-4)) 0% 0% / 0% 0% no-repeat;
    transition: inherit;
    inset: 0;
}

.navLoginButton:hover::before {
    background-size: 100% 100%;
}

.navLoginButton::after {
    z-index: -1;
    background-color: var(--background-color-2);
    inset: 4% 2%;
    border-radius: 6px;
}

/* Theme Changer */
.navTheme {
    width: 18px;
    height: 18px;
    
    border-radius: 8px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(229, 231, 235);
    transition: box-shadow 100ms ease-in-out;
    
    box-shadow: 0 0 0 0;

}
.navTheme:hover {
    box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.2);
}



/* Logged in elements */
.profileNotifications {
    width: 25px;
    height: 25px;  
    margin: 0;
    transition: transform 50ms;
}
.profileNotifications:hover {
    transform: rotate(20deg);
}

.notificationsContainer {
    display: none;
}
.notificationsContainer:focus {
    display: block;
    background-color: red;
    height: 100px;
    width: 100px;
}


.profileNotificationsWrapper > p {
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 25, 45);
    border-radius: 5px;
    width: 15px;
    height: 15px;
    padding: 0.5px;
    margin-top: -5px;
    margin-left: 15px;
    
    font-size: 15px;
    text-align: center;

}
.profileName {
    overflow-y: hidden;
    height: 30px;
    color: white;
}
.profilePic {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 100px;
}