.pageVertical {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pageHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    gap: 50px;
}

.leftSideContainer {
    height: 65vh;
    width: 50%;
    background-color: white;
}
.recentTableContainer {
    height: 65vh;
    width: 30%;
    background-color: white;
}